.inform {
  margin-top: 50px;

  &__text {
    padding-top: 80px;
    &--container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &--space {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__review {
    height: 700px;
    width: 600px;
    margin: 0 auto;
    border: 10px solid;
    border-image: linear-gradient(to right, #3A82F0, #014BB8);
    border-image-slice: 1;

    @include onMobile {
      width: 280px;
      height: auto;
      box-sizing: border-box;
    }
  }
}
