.testimonial {
  height: 99%;
  border: 5px solid black;
  position: relative;

  &__head {
    padding: 10px;
    display: flex;

    &--info {
      padding-left: 10px;
    }
  }

  &__text {
    padding: 30px 30px 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #37689d;
  }

  &__age {
    font-size: 20px;
    font-weight: 500;
    color: #6c6c6c;
  }

  &__p {
    font-size: 17px;
    font-weight: 500;
    color: #000000;
  }

  &__container {
    padding-top: 5px;
    display: flex;
    gap: 10px;
  }

  &__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 30px;
    box-shadow: 4.9px 4.9px 4.9px 0px rgba(0, 0, 0, 0.43),
      -4.9px -4.9px 4.9px 0px rgba(0, 0, 0, 0.25);

      @include onMobile {
        display: none;
      }

    &--text {
      padding-right: 10px;
      display: flex;
      gap: 8px;
    }

    &--p {
      font-size: 14px;
      font-weight: 500;
      color: #6c6c6c;
    }

    &--img {
      padding-left: 10px;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
