body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.text {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .text {
    font-size: 25px;
  }
}
.text__medium {
  font-size: 25px;
  font-weight: 700;
  color: #222222;
}
@media (max-width: 767px) {
  .text__medium {
    font-size: 20px;
  }
}
.text__little {
  color: #222222;
  font-weight: 600;
  font-size: 25px;
}
@media (max-width: 767px) {
  .text__little {
    font-size: 20px;
  }
}
.text__small--red {
  font-weight: 600;
  font-size: 25px;
  color: red;
}
@media (max-width: 767px) {
  .text__small--red {
    font-size: 18px;
  }
}
.text__big {
  color: #222222;
}
.text__big--red {
  color: red;
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 767px) {
  .text__big--red {
    font-size: 20px;
  }
}
.text__p {
  color: #858585;
  font-size: 19px;
  font-weight: 400;
}
.text__p--grey {
  text-align: center;
  padding-top: 5px;
}
.text__p--blue {
  text-align: center;
  color: #040f85;
  font-weight: 700;
}
.text__count {
  margin-top: 10px;
  font-weight: 700;
  font-size: 30px;
  align-self: center;
}
@media (max-width: 767px) {
  .text__count {
    font-size: 20px;
  }
}

.page {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  box-sizing: border-box;
}

.header {
  background-image: url(../images/head.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-left: 30px;
  height: 100vh;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .header {
    padding-top: 0;
    padding-left: 0;
  }
}
.header__container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}
.header__content {
  display: flex;
  height: 100%;
}
@media (max-width: 767px) {
  .header__content {
    display: block;
  }
}
.header__content--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 767px) {
  .header__content--text {
    align-items: center;
  }
}
.header__content--img {
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .header__content--img {
    display: none;
  }
}
.header__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-block--title {
  font-size: 48px;
  text-transform: uppercase;
}
.text-block--title.text__white {
  color: #fff;
}
.text-block--title.text__yellow {
  color: #ffd700;
}
.text-block--title.text__transparent {
  color: #040f85;
}

.text-block:nth-child(1) {
  width: 400px;
  height: 140px;
  background-color: #040f85;
  border: 5px solid #fff;
}
@media (max-width: 767px) {
  .text-block:nth-child(1) {
    width: 250px;
    padding: 5px;
  }
}

.text-block:nth-child(2) {
  padding-top: 140px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .text-block:nth-child(2) {
    padding-top: 100px;
  }
}

.text-block:nth-child(3) {
  background-color: #ffd700;
  -webkit-text-stroke: 1px black;
  font-size: 24px;
  display: inline-block;
  padding: 10px;
}

.text-block:nth-child(4) {
  padding-top: 10px;
}

.frame {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 1px solid #000;
}
.frame::before, .frame::after,
.frame .span::before,
.frame .span::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 5px solid transparent;
}
.frame::before {
  top: -20px;
  left: -20px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
}
.frame::after {
  bottom: -20px;
  right: -20px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
}
.frame .span::before {
  top: -20px;
  right: -20px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
.frame .span::after {
  bottom: -20px;
  left: -20px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
}

.inform {
  margin-top: 50px;
}
.inform__text {
  padding-top: 80px;
}
.inform__text--container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inform__text--space {
  padding-top: 50px;
  padding-bottom: 50px;
}
.inform__review {
  height: 700px;
  width: 600px;
  margin: 0 auto;
  border: 10px solid;
  border-image: linear-gradient(to right, #3A82F0, #014BB8);
  border-image-slice: 1;
}
@media (max-width: 767px) {
  .inform__review {
    width: 280px;
    height: auto;
    box-sizing: border-box;
  }
}

.testimonial {
  height: 99%;
  border: 5px solid black;
  position: relative;
}
.testimonial__head {
  padding: 10px;
  display: flex;
}
.testimonial__head--info {
  padding-left: 10px;
}
.testimonial__text {
  padding: 30px 30px 0;
}
.testimonial__title {
  font-size: 20px;
  font-weight: 700;
  color: #37689d;
}
.testimonial__age {
  font-size: 20px;
  font-weight: 500;
  color: #6c6c6c;
}
.testimonial__p {
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.testimonial__container {
  padding-top: 5px;
  display: flex;
  gap: 10px;
}
.testimonial__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 30px;
  box-shadow: 4.9px 4.9px 4.9px 0px rgba(0, 0, 0, 0.43), -4.9px -4.9px 4.9px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) {
  .testimonial__bottom {
    display: none;
  }
}
.testimonial__bottom--text {
  padding-right: 10px;
  display: flex;
  gap: 8px;
}
.testimonial__bottom--p {
  font-size: 14px;
  font-weight: 500;
  color: #6c6c6c;
}
.testimonial__bottom--img {
  padding-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.zagovor {
  margin-top: 50px;
}
.zagovor__container {
  display: flex;
}
.zagovor__image {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
}
.zagovor__image--med {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
.zagovor__padding {
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 12px;
  width: 100%;
}
.form__input {
  margin-top: 10px;
  padding-left: 16px;
  height: 60px;
  border-color: #faebf4;
  border-radius: 3px;
}
.form__btn {
  margin-top: 16px;
  margin-bottom: 28px;
  width: 100%;
  max-width: 350px;
  height: 60px;
  background-color: #1d9fdb;
  color: #fcfafb;
  font-weight: bold;
  font-size: large;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.count {
  font-family: sans-serif;
  color: #ff0000;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
.count__number {
  margin: 20px 0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.count__number--time {
  border-radius: 3px;
  display: inline-block;
}
.count__text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.formblock__container {
  max-width: 1170px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .formblock__container {
    padding: 0;
  }
}
.formblock__block {
  border: 3px solid grey;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  width: 616px;
  background-color: #e1dcdf;
}
.formblock__img {
  align-self: center;
  margin-top: 38px;
  height: 106px;
  width: 106px;
}
.formblock__title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  padding: 10px 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: background-color 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: transform 500ms ease-in-out;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-btn {
  padding: 10px 20px;
  width: 340px;
  height: 60px;
  background-color: #1d9fdb;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
  .modal-btn {
    width: 260px;
  }
}
.modal-btn:hover {
  background-color: #040f85;
  transform: rotate(3deg) scale(1.03);
}

.modal-text {
  padding-bottom: 10px;
  width: 320px;
  transition: color 300ms ease-in-out;
}
@media (max-width: 767px) {
  .modal-text {
    width: 250px;
  }
}

.backdrop:hover {
  background-color: rgba(46, 47, 66, 0.7);
}

.popup-content:hover {
  transform: translate(-50%, -50%) rotate(3deg);
}

.modal-text:hover {
  color: #1d9fdb;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
}

/*# sourceMappingURL=style.css.map */
